<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <h2>{{post.title}}</h2>
            </div>
            <div class="meta">
                Created by {{post.user.username}} on
                {{post.created_at}}
                |
                <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>