<div class="container">
    <div class="post card my-3 bg-light">
        <div class="card-body">
            <div class="title card-title">
                <a class="text-dark" href="{{post.post_url}}" target="_blank">{{post.title}}</a>
            </div>
            <p></p>
            <p class="card-text">{{post.post_text}}</p>
            <p></p>
            <div class="meta card-text text-muted">
                Created by {{post.user.username}} on
                {{post.created_at}}
                |
                <a class="card-link" href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
            </div>
        </div>
    </div>
    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
        </div>
    </form>
    {{/if}}
    <div class="comments">
        {{#each post.comments}}
        <div class="comment bg-light card my-2">
            <div class="card-body">
                <div class="meta card-text text-muted">
                    {{user.username}} on {{created_at}}
                </div>
                <div class="card-text">
                    {{comment_text}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}